<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>
        Hack </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        .jumbotron{
            background-image: url(wheat.jpg);
            border-radius:0px;
            bottom-radius:6px;
            text-align:center;
        }
        .container{
            text-align:center;
        }

        }


    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['time in weeks', 'whole sale price'],
          ['1',        1909],
          ['2',        1915],
          ['3',         1946],
          ['4',         1791],
          ['5',         1751],
          ['6',         1761],
          ['7',         1704],
          ['8',         1790],
          ['9',         1818],
          ['10',         1658],
          ['11',         1671],
          ['12',        1593]
        ]);

        var options = { 
           titleTextStyle: {
            color: '#206607',
            fontSize: 16,
            fontName: 'Arial',
            bold: true,
            italic: true
          },
          curveType: 'function'
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart-1'));

        chart.draw(data, options);
      }
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
//2
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['time in weeks', 'whole sale price'],
          ['1',        3347],
          ['2',        3341],
          ['3',         3443],
          ['4',         3420],
          ['5',         3401],
          ['6',         3653],
          ['7',         3738],
          ['8',         3808],
          ['9',         4092],
          ['10',         4097],
          ['11',         3812],
          ['12',        3654]
        ]);

        var options = { 
           titleTextStyle: {
            color: '#206607',
            fontSize: 16,
            fontName: 'Arial',
            bold: true,
            italic: true
          },
          curveType: 'function'
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart-2'));

        chart.draw(data, options);
      }
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
//3
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['time in weeks', 'whole sale price'],
          ['1',        1266],
          ['2',        1266],
          ['3',         1271],
          ['4',         1252],
          ['5',         1256],
          ['6',         1300],
          ['7',         1282],
          ['8',         1266],
          ['9',         1288],
          ['10',        1346],
          ['11',        1268],
          ['12',        1308]
        ]);

        var options = { 
           titleTextStyle: {
            color: '#206607',
            fontSize: 16,
            fontName: 'Arial',
            bold: true,
            italic: true
          },
          curveType: 'function'
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart-3'));

        chart.draw(data, options);
      }
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
//4
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['time in weeks', 'whole sale price'],
          ['1',       5965 ],
          ['2',        6013],
          ['3',         5795],
          ['4',         5592],
          ['5',         5697],
          ['6',         5249],
          ['7',         5263],
          ['8',         5092],
          ['9',         4983],
          ['10',         4916],
          ['11',         4720],
          ['12',        4945]
        ]);

        var options = { 
           titleTextStyle: {
            color: '#206607',
            fontSize: 16,
            fontName: 'Arial',
            bold: true,
            italic: true
          },
          curveType: 'function'
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart-4'));

        chart.draw(data, options);
      }
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
//5
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['time in weeks', 'whole sale price'],
          ['1',       3347],
          ['2',        3341],
          ['3',         3443],
          ['4',         3420],
          ['5',         3401],
          ['6',         3653],
          ['7',         3738],
          ['8',         3808],
          ['9',         4002],
          ['10',        4087],
          ['11',        3812],
          ['12',        3654]
        ]);

        var options = { 
           titleTextStyle: {
            color: '#206607',
            fontSize: 16,
            fontName: 'Arial',
            bold: true,
            italic: true
          },
          curveType: 'function'
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart-5'));

        chart.draw(data, options);
      }
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
//6
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['time in weeks', 'whole sale price'],
          ['1',        1968],
          ['2',        1972],
          ['3',        2011],
          ['4',        2006],
          ['5',        2047],
          ['6',         1941],
          ['7',         1916],
          ['8',         1979],
          ['9',         2078],
          ['10',        2035],
          ['11',       2040],
          ['12',       2014]
        ]);

        var options = { 
           titleTextStyle: {
            color: '#206607',
            fontSize: 16,
            fontName: 'Arial',
            bold: true,
            italic: true
          },
          curveType: 'function'
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart-6'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" href="#">
        <img src="a.png" class="img-responsive" style="max-width: 20%">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="btn btn-outline-light pull-right" style="position: absolute;padding: 15px 32px; right: 25%" href="/cropView" role="button"><i class="fab fa-pagelines"></i> अनाज</a>
        <a class="btn btn-outline-light pull-right" style="position: absolute;padding: 15px 32px; right: 10%" href="/analysisView" role="button"><i class="fab fa-pagelines"></i> मुनाफा</a>

    </div>
</nav>
<div class="jumbotron">
    <h1 class="display-1 " style="color: rgb(255, 255, 255)"><i class="fab fa-pagelines"></i> हाट</h1>
    <p class="lead active"></p>
</div>

<!--crop dropdown
crop value graph
map
-->

<div class="dropdown" style="padding: 1% 1%">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">select crop
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#">crop 1</a></li>
        <li><a href="#">crop 2</a></li>
        <li><a href="#">crop 3</a></li>
        <li><a href="#">crop 4</a></li>
        <li><a href="#">crop 5</a></li>
        <li><a href="#">crop 6</a></li>
    </ul>
</div>
<div id="curve_chart-1" style="width: 900px; height: 500px"></div><div id="curve_chart-2" style="width: 900px; height: 500px"></div><div id="curve_chart-3" style="width: 900px; height: 500px"></div><div id="curve_chart-4" style="width: 900px; height: 500px"></div><div id="curve_chart-5" style="width: 900px; height: 500px"></div><div id="curve_chart-6" style="width: 900px; height: 500px"></div>
<!--graph here-->

<div id="map" class="container" style="width:800px;height:400px; margin-left: 5%; margin-bottom: 10%">

    <script type="text/javascript">
        function markerCoords(markerobject){
            google.maps.event.addListener(markerobject, 'dragend', function(evt){
                infoWindow.setOptions({
                    content: '<p>Marker dropped: Current Lat: ' + evt.latLng.lat().toFixed(3) + ' Current Lng: ' + evt.latLng.lng().toFixed(3) + '</p>'
                });
                infoWindow.open(map, markerobject);
            });

            google.maps.event.addListener(markerobject, 'drag', function(evt){
                console.log("marker is being dragged");
            });
        }
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(12.9, 79.1),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }</script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>