<!DOCTYPE html>
<html>
<head>
    <title>Crop View</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>This is the first page (crop view)</h1>
<form action="/cropView" method="get">
    <button type="submit">Crop</button>
</form>
<form action="/analysisView" method="get">
    <button type="submit">analysis</button>
</form>
<p>Primis ftw</p>
</body>
</html>
